<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test for HTML File Generator</title>
  </head>

  <body>
    <h2>Welcome to HTML File Generator</h2>
    <div class="content">
      <p id="message"></p>
      <img id="my-img" src="" />
    </div>

    <div id="url-div" data-url=<%= baseUrl %>></div>  
  </body>
  <script>
    const myBaseUrl = document.getElementById('url-div').dataset.url
    const paramString = window.location.href.split('?')[1]
    const messageElement = document.getElementById('message')
    messageElement.innerText = 'Your image is loading...'                 
    messageElement.style.textAlign = 'center'
    const image = fetch(`${myBaseUrl}/generate/?${paramString}`).then(response => {
        return response.json()
    }).then(data => {
      if (data.success){
        messageElement.innerText = 'Your image is ready!'
        let imgElement = document.getElementById('my-img')
        imgElement.src = data.resourceLink
      }
       else throw ""
    }).catch((error) => {
        console.log(error)
        messageElement.innerText = "Sorry, an error occurred"
    })
  </script>

  <style>
    html {
      height: 100%;
      width: 100%;
    }
    body {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      align-items: center;
      margin: 0 auto;
      padding: 16px 5vw;
    }
  </style>
</html>
